<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Recommender</title>
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="../static/styles/signup.css" rel="stylesheet">
    <script src="../static/script/jquery-1.11.2.js"></script>
    <script src="../static/script/modal_review.js"></script>
    <script src="../static/script/modal_home.js"></script>

  </head>
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
            <button type="button" id="btnGoHome" data-source="{{name}}">Return Home</button>
            <div class="topnav">
                <p>Emma's query</p>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="Name">id</th>
                            <th class="Type">score</th>
                            <th class="update"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{item._id}}</td>
                                <td>{{item.Score}}</td>
                        {% endfor %}
                        </tbody>
                    </table>
              </div>
        </nav>
      </div>
 
    </div>
  </body>
</html>