<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Recommender</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/styles/signup.css" rel="stylesheet">
    <script src="../static/script/jquery-1.11.2.js"></script>
    <script src="../static/script/modal.js"></script>

  </head>
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="./">Home</a></li>
            <!-- <li role="presentation"><a href="./renderSignIn">Sign In</a></li>
            <li role="presentation" class="active"><a href="./renderSignUp">Sign Up</a></li> -->
          </ul>
        </nav>
      </div>
 
      <div class="jumbotron">
        <h1>Movie Recommender</h1>
        <button id="goSignUp" class="button btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <!-- <form action="./renderSignUp">
          <input type="submit" value="Sign Up" />
        </form> -->
        <button id="goSignIn" class="button btn btn-lg btn-primary btn-block" type="button">Sign in</button>
        <!-- <form action="./renderSignIn">
          <input type="submit" value="Sign In" />
        </form> -->
      </div>
 
    </div>
  </body>
</html>