<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Recommender</title>
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="../static/styles/signup.css" rel="stylesheet">
    <script src="../static/script/jquery-1.11.2.js"></script>
    <script src="../static/script/modal_review.js"></script>
    <script src="../static/script/modal_home.js"></script>

  </head>
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
            <div class="topnav">
                <p>Welcome, </p>
                <p name='home_name' id ='home_name'>{{username}}</p>
                <p>{{update_type}} a review for</p>
                <p>{{showname}}</p>
                <form>
                  <label for="inputScore" class="sr-only">Score (out of 10): </label>
                  <input type="score" id="inputScore" class="form-control" placeholder="Score" required autofocus>
                  <br>
                  <label for="inputReview" class="sr-only">Review: </label><br>
                  <textarea class="scrollabletextbox" id="inputReview" placeholder="test"></textarea>
                  <br>
                  <button id="btnSubmitReview" class="btn btn-lg btn-primary btn-block" type="button" data-updatetype="{{update_type}}" data-type="{{type}}" data-source="{{username}}" data-content="{{titleid}}">Submit Review</button>
                </form>
              </div>
        </nav>
      </div>
 
      <!-- <div class="jumbotron">
        <h1>Choose</h1>
        <button id="goSignUp" class="button btn btn-lg btn-primary btn-block" a href="./signup.html"  type="button">Sign up</button>
        <button id="goSignIn" class="button btn btn-lg btn-primary btn-block" a href="./signin.html"  type="button">Sign in</button>
      </div> -->
      <!-- <footer class="footer">
        <p>&copy; This is user home {{name}}</p>
      </footer> -->
 
    </div>
  </body>
</html>