<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Watched</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/styles/signup.css" rel="stylesheet">
    <script src="../static/script/jquery-1.11.2.js"></script>
    <script src="../static/script/modal_w_deleted.js"></script>
  </head>
  <body>
      <div class="jumbotron">
        <h1>Movie Recommender</h1>
        <form class="form-signin">username</label>
        <input type="name" name="deleteUsername" id="deleteUsername" class="form-control" placeholder="username" required autofocus>
        <form class="form-signin">movie to delete</label>
        <input type="name" name="deleteMovieImpression" id="deleteMovieImpression" class="form-control" placeholder="insert 1 movie" required autofocus>
        <label for="deleteTvShowImpressions" class="sr-only">show to delete</label>
        <input type="name" name="deleteTvShowImpressions" id="deleteTvShowImpressions" class="form-control" placeholder="insert 1 show">
         
        <button id="btnDelete" class="btn btn-lg btn-primary btn-block" type="button">Delete</button>
      </form>
      </div>
    </div>
  </body>
</html>